{
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "presets": ["@babel/preset-react", "@babel/preset-typescript"],
  "env": {
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-typescript"],
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
}
